.page-title {
  font-size: 5em;
}

.open-sans-cond {
    font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron {
    background:transparent;
    margin-bottom: 0 !important;
    color: #666666
}

.profile-pic {
    max-width: 75%;
    max-height: 75%;
    border-radius: 50%;
}

.project-pic {
    max-width: 80%;
    max-height: 80%;
    border-radius: 2%;
}

.gallery-pic {
    max-width: 100%;
    max-height: 100%;
}

.sm-text {
    font-size: small;
}
