body {
    background-color: #3f3f3f;
    color: white;
}

.title-text {
    color: white;
    font-size: 250%;
    font-weight: lighter;
}

.task-title{
    font-size: 225%;
    font-weight: lighter;
}

.task-subtitle{
    font-size: 150%;
    font-weight: lighter;
}

.task-text{
    font-size: 110%;
    font-weight: lighter;
}

.task-divider {
    margin-top:5px;
    margin-bottom:5px;
    height:2px;
    width:20%;
    border-top:1px solid white;
    border-radius: 100%
}

.date-title{
    font-weight: lighter;
}

.navbar {
    padding:0;
    margin:0;
}

.weekly-text {
    font-size: 150%;
    font-weight: lighter;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.h-divider {
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid orange;
}

.v-divider {
    background: grey;
    height: 400px;
    width: 1px;
}

svg {
    margin-right: 5px;
}

.list-item {
    font-weight: lighter;
    font-size: 0.9em;
}

.text-link {
    color: #66b5ff;
    text-align: right;
}

.week-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
